*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: helvetica;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0px 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    font-weight: 500;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}

#center{
    width: 100%;
    /* background-color: red; */
    padding: 40px 80px;
}

#center h1{
    /* font-size: 80px; */
    font-size: 5vw;
    font-weight: 500;
    line-height:5.5vw;
}
#center-in{
    height: 200px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    /* font-size: 22px; */
    font-size: 1.45vw;
    /* line-height: 32px; */
    line-height: 2.1vw;
    font-weight: 500;
}

#right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    padding: 20px 0px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline;
}

#bottom{
    height: 40%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1541216970279-affbfdd55aa8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 22%;
}

@media (max-width:600px) {
    #nav{
        height: 60px;
        gap: 15px;
        padding: 0px 20px;
    }
    #nav h4{
        font-size: 13px;
        font-weight: 600;
        /* display: none; */
    }
    #nav i{
        font-weight: 500;
        background-color: black;
        color: white;
        font-size: 12px;
        padding: 7px;
        border-radius: 50%;
    }
    #center{
        width: 100%;
        /* background-color: red; */
        padding: 15px 20px;
    }
    
    #center h1{
        /* font-size: 80px; */
        font-size: 10.8vw;
        font-weight: 500;
        line-height:13vw;
    }
    #center-in{
        height: 200px;
        /* background-color: red; */
        width: 100%;
        margin-top: 24px;
        display: flex;
        gap: 18PX;
        flex-direction: column;
        justify-content: space-between;
    }
    #center-in p{
        /* font-size: 22px; */
        font-size: 3.3vw;
        /* line-height: 32px; */
        line-height: 4.8vw;
        font-weight: 548;
    }
    
    #right{
        width: 100%;
    }
    .elem{
        /* background-color: yellow; */
        padding: 10px 0px;
        border-top: 1.5px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .elem i{
        font-size: 18px;
        font-weight: 500;
        opacity: 1;
        color: rgb(31, 31, 31);
    }
    .elem a{
        color: rgb(31, 31, 31);
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
    }
    #bottom{
        height: 33%;
        width: 100%;
        background-color: red;
        background-image: url(https://images.unsplash.com/photo-1541216970279-affbfdd55aa8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: 0 22%;
    }

    
}